.signUpModal {
  @apply min-w-471 max-w-471 bg-white px-12 py-14 bg-opacity-100 #{!important};
}

.title {
  @apply text-whiteGreen text-3xl font-semibold leading-8;
  font-family: "HeptaSlab";
}

.description {
  @apply mt-6 text-base;
}

.email {
  @apply mt-7 mb-4;
}

.submitBtn {
  @apply flex justify-center;
}

.button {
  margin-top: 30px;
  font-family: "HeptaSlab";
  font-weight: 400;
  color: white;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 44px;
  border: none;
  border-radius: 6px;
  display: flex;
  gap: 10px;
  z-index: 10;
  background-color: black;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(0, 116, 77);
}

.button:active {
  background-color: rgb(54, 54, 54);
}

.wrapper {
  @apply text-black text-base leading-7 font-medium;
}

.logo {
  @apply flex justify-center mb-9;
}