.App {
  text-align: center;
}

@keyframes textAnimation {
  from {left: 0px}
  to {left: 100px}
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "custom";   /*Can be any text*/
  src: local("Domine-VariableFont_wght"),
    url("/src/assets/fonts/Domine-VariableFont_wght.ttf") format("truetype");
}
